<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{body}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
</div>
<form><textarea name="comment" id="comments" cols="80" rows="10"></textarea><button>Add</button></form>

<script src="/js/comment/js"></script>
